@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Manrope';
  font-size: 18px;
}

.wrapper {
  margin: 0 135px;
}

.search {
  position: relative;
  border-bottom: 1px solid #000;
}
.search-input {
  padding: 14px 18px;
  width: 90%;
  font-size: 18px;
  font-weight: 500;
  color: #090808;
}
.search-input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #828282;
}
.search::before {
  content: url(../img/search-icon.png);
  display: block;
  position: absolute;
  right: 20px;
  top: 5px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 60px;
}
.menu-list__item {
  text-align: center;
  margin-left: 50px;
  width: 68px;
}
.menu-list__item:first-of-type {
  margin-left: 0;
}
.menu-list__item a {
  display: block;
}
.menu-list__item span {
  display: block;
  font-size: 15px;
  color: #090808;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.header__search {
  flex-grow: 1;
  margin: 0 55px 0 85px;
}
.header__btn {
  padding: 15px 75px;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  background: #090808;
  color: #ffffff;
}
